/* colors start */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  
  --special-black: rgba(0, 0, 0, 0.3);
  --special-black-darker: rgba(0, 0, 0, 0.6);
  --special-grey: #b3b3b3;
  --special-grey-light: #D9D9D9;
  --special-grey-lighten: #DCDCDC;
  --special-grey-lightest: #EBEBEB; 
  --special-white-transparent: rgba(255, 255, 255, 0);

  --basic-white: #FFFFFF;

  --special-yellow-light: #F7E296;
  --special-yellow-dark: #F0C52E;

  --special-green: #91C92F;

  --status-light-red: #F6DADA;
}

/* colors end */

/* fonts start */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("gilroylight"),  
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}
       
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("opensans"),
      url("../fonts/opensans.woff2") format("woff2"),
      url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2") format("woff2"),
      url("../fonts/opensanslight.woff") format("woff");
}

/* fonts end */

/* global style start */

body {
  min-width: 1180px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none; 
} 

.page-body ol, 
.page-body ul {
  list-style: none;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* global style end */

/* hidden style start */

.contact-us {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: -1px;
  position: absolute;
  clip: rect(0 0 0 0);
}

/* hidden style end */

/* grid start */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* grid end */

/* buttons start */

.button {
  border: 0;
  padding: 9px 15px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-black);
  background: linear-gradient(to top, 
    var(--special-white-transparent) 40%, var(--special-yellow-dark) 40% 60%, 
    var(--special-white-transparent) 60% 100%);
  display: inline-block;
  text-align: center;
}

.button:hover, .button:active {
  background: var(--special-yellow-dark);
}

.button:focus {
  outline: none;
}

.button:active {
  color: var(--special-black);
}

.button-abilities:active, .button-abilities:focus {
  min-width: 277px;
  padding-left: 20px;
  text-align: left;
  color: var(--special-yellow-light);
  background: var(--basic-black);
}

.button-slider {
  min-width: 190px;
  margin-bottom: 60px;
}

.button-contacts {
  min-width: 230px;
}

.button-submit {
  min-width: 170px;
}

.button-abilities {
  min-width: 150px;
  padding: 9px 5px;
}

/* buttons end */

/* header start*/

.header {
  padding-right: 68px;
  padding-left: 68px;
  margin-top: 20px;
  background: linear-gradient(to top,
  var(--special-yellow-light) 93%, var(--basic-white) 93% 100%);
}

.header a {
  color: var(--basic-black);
}

.header a:hover {
  opacity: 0.6;
}

.header a:active,
.header-log-out {
  opacity: 0.3;
}

.header-logo-link {
  margin-bottom: 30px;
  display: block;
}

.header-settings {
  margin-bottom: 50px;
  display: flex;
  align-items: baseline;
}

.header-search {
  width: 50%;
}

.header-user-index, 
.header-user-catalog,
.header-user,
.compare-basket {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.header-user,
.compare-basket {
  flex-basis: 35%;
}

/* search field start */

.header-search input {
  width: 440px;
  border: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--special-black);
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 50px var(--special-yellow-light);
}

.header-search input:hover,
.header-search input:active, 
.header-search input:focus,
.header-search input:focus-within {
  outline: none;
}

/* search field end */

.catalog-list {
  padding-left: 0;
  margin-bottom: 50px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
}

.catalog-list li {
  width: 13%;
}

.catalog-list li:first-child {
  width: 50%;
}

.catalog-list li:last-child {
  width: 24%;
  text-align: end;
}
 
.catalog-menu /*вложенный список*/{
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
}

/* header end*/

/* index start*/

.headline,
.range-list,
.abilities-list h2,
.about-us h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.headline,
.abilities-list h2,
.about-us h2 { 
  font-size: 47px;
  line-height: 58px;
}

.slider {
  padding-left: 89px;
  padding-right: 47px;
  margin-bottom: 96px;
  background: linear-gradient(to top, 
  var(--basic-white) 75%, var(--special-yellow-light) 75% 100%);
}

.about-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider img {
  grid-column: 1;
}

.description-wrapper {
  padding-top: 40px;
  grid-column: 2;
}

.headline {
  margin: 0;
  margin-bottom: 30px;
  white-space: pre-line;
}

.product-description {
  margin-bottom: 50px;
  white-space: pre-line;
}

.slider table {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  line-height: 35px;
  letter-spacing: 0.1em;
  text-align: left;
}

.slider td {
  width: 150px;
  font-size: 36px;
  line-height: 42px;
}

.slider th {
  width: 150px;
  font-size: 13px;
  font-weight: 300;
}

.range {
  margin-bottom: 50px;
}

.range-list {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
}

.range-list li {
  flex-basis: 16%;
}

.range-list a,
.abilities-list a,
.about-us a {
  color: var(--basic-black);
}

.range-list a:active {
  opacity: 0.3;
}

.abilities-wrapper {
  background: linear-gradient(to top,
  var(--basic-grey-light) 71%, var(--basic-white) 71% 100%);
}

.abilities {
  padding-top: 90px;
  padding-bottom: 135px;
  margin-bottom: 90px;
  display: flex;
}

.abilities ul {
  padding-right: 125px;
  flex-basis: 20%;
}

.abilities li {
  width: 120px;
  min-height: 40px;
  margin-bottom: 20px;
}

.abilities li:last-child {
  margin: 0;
}

.abilities-list h2,
.about-us h2 {
  letter-spacing: 0.2em;
} 

.about-advantages,
.about-advantages-delivery, 
.about-delivery,
.about-contacts h2,
.abilities-list p, 
.abilities-list h2 {
  margin: 0;
}

.abilities-list h2 {
  margin-bottom: 40px;
}

.abilities-description {
  line-height: 28px;
  letter-spacing: 0.1em;
  white-space: pre-line;
}

.partners-logo {
  margin-bottom: 90px;
}

.brands {
  display: flex;
  justify-content: space-around;
}

.brands li {
  flex-basis: 25%;
}

.about-contacts {
  padding-top: 57px;
  margin-bottom: 86px;
  display: flex;
  justify-content: space-around;
}

.about-contacts h2 {
  margin-bottom: 50px;
  display: block;
}

.about-delivery {
  margin-bottom: 85px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.about-delivery li {
  margin-bottom: 20px;
}

.about-delivery li:last-child {
  margin-bottom: 0;
}

.about-advantages {
  min-width: 510px;
  margin-bottom: 40px;
  white-space: pre-line;
}

.about-advantages-delivery {
  margin-bottom: 60px;
}

.about-us {
  width: 473px;
}

.map {
  width: 560px;
  height: 222px;
  margin-bottom: 85px;
  display: block;
}

/* index end */

/* Catalog start */

.breadcrumbs-wrapper {
  padding-top: 44px;
}

.breadcrumbs-wrapper ol {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: flex;
}

.breadcrumbs-wrapper li:first-child {
  width: 7%;
}

.breadcrumbs-wrapper li {
  width: 10%;
}

.breadcrumbs-wrapper li:last-child {
  width: 14%;
  text-align: end;
} 

.breadcrumbs-wrapper h1 {
  margin: 0;
  margin-bottom: 30px;
}

.sort-grid, .aside-grid  {
  display: grid;
  grid-template-columns: 32.5% 67.5%;
}

.sort-background-wrapper {
  background: linear-gradient(to right,
  var(--special-grey-lighten) 50%, var(--basic-grey-light) 50% 100%);
}

.filter-background-wrapper {
  background: linear-gradient(to right,
  var(--basic-grey-light) 50%, var(--basic-white) 50% 100%);
}

.filter-sorting-line, .sorting-line-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-sorting-line {
  align-self: center;
  background: var(--special-grey-lighten);
}

.sorting-line-menu {
  padding-left: 72px;
  background: var(--basic-grey-light);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorting-line {
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  flex-basis: 65%;
}

.sorting-line li {
  width: 20%;
}

.sorting-line li:last-child {
  width: 28%;
}

.sorting-switch {
  display: flex;
  justify-content: space-between;
  flex-basis: 6%;
}

.main-catalog h1,
.catalog-products,
.filter-menu legend {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
}

.main-catalog h1 {
  font-size: 47px;
  line-height: 58px;
}

.sorting-line-menu h2,
.filter-sorting-line h2,
.pagination {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-line-menu h2 {
  margin-right: 30px;
}

.breadcrumbs-wrapper a,
.sorting-line-menu a,
.filter-menu p {
  font-size: 14px;
  line-height: 19px;
}

.catalog-products a,
.pagination a {
  color: var(--basic-black);
}

.breadcrumbs-wrapper a:active {
  opacity: 0.1;
}

.breadcrumbs-wrapper a,
.sorting-line-menu a,
.pagination-lists a {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-wrapper a:hover,
.sorting-line-menu a:hover,
.pagination-lists a:hover {
  opacity: 0.6;
}

.sorting-line-menu a:active,
.pagination-lists a:active,
a.visited, a.visited:hover, a.visited:active {
  opacity: 1;
}

.filter-menu,
.sorting-line-menu {
  background: var(--basic-grey-light);
}

.turn-lists:hover,
.turn-lists:active {
  background: var(--special-grey-light);
}

.turn-lists:active {
  color: var(--special-black);
}

.filter-menu fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  border: 0;
}

.filter-menu legend {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-menu {
  padding-right: 68px;
  background: var(--basic-grey-light);
  grid-column: 1;
  align-self: start;
}

.filter-menu form {
  padding-top: 70px;
}

.filter-menu p {
  margin-bottom: 20px;
}

.filter-menu p:last-child {
  margin-bottom: 0;
}

.fieldset-bluetooth {
  margin-bottom: 53px;
}

.products {
  padding-top: 70px;
  padding-left: 72px;
  padding-bottom: 78px;
  background: var(--basic-white);
  grid-column: 2;
}

.product-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.catalog-products {
  padding-left: 0;
  letter-spacing: 0.05em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.catalog-products h3 {
  width: 76.5%;
  font-size: 18px;
  line-height: 22px;
}

.products-price {
  width: 33.5%;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: end;
  white-space: pre-line;
}

.pagination {
  margin-top: 40px;
  background-color: var(--special-grey-lightest);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.pagination a {
  text-align: center;
  flex-basis: 15%;
}

.turn-lists {
  line-height: 70px;
}

.pagination-lists {
  display: flex;
  justify-content: center;
  flex-basis: 15%;
}

.pagination-lists li {
  flex-basis: 33%;
}

/* catalog end */

/* footer start */

.footer {
  padding-top: 64px;
  padding-bottom: 65px;
  color: var(--basic-white);
  background-color: var(--basic-dark)
}

.footer-menu {
  margin-bottom: 40px; 
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.footer-settings-index {
  display: flex;
  flex-basis: 25%;
}

.footer-settings-index a {
  flex-basis: 38%;
}

.footer-settings-index a:last-child {
  text-align: end;
}

.footer-settings-catalog {
  display: flex;
  justify-content: space-between;
  flex-basis: 38%;
}

.footer-settings-catalog div {
  display: flex;
  flex-basis: 45%;
}

.footer-log-out {
  justify-content: space-around;
}

.footer-compare-basket {
  justify-content: space-between;
}

.footer-menu a,
.tel a,
.footer address {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-menu a:hover,
.footer-logo {
  opacity: 1;
}

.footer-list a:hover,
.footer-logo:hover {
  opacity: 0.6;
}

.footer-list a:active,
.footer-menu a:active {
  opacity: 0.3;
}

.address, .tel {
  font-style: normal;
}

.footer-nav {
  margin-bottom: 67px;
  display: flex;
  justify-content: space-between;  
  align-items: baseline;
}

.footer-list {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-list a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.tel a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.socialmedia-logo { 
  display: flex;
  flex-basis: 50%;
} 

.socialmedia-logo li {
  flex-basis: 15%;
}

/* footer end */