/* colors start */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-grey: #b3b3b3;
  --special-grey-light: #D9D9D9;
  --special-grey-lighten: #DCDCDC;
  --special-grey-lightest: #EBEBEB; 

  --basic-white: #FFFFFF;

  --special-yellow-light: #F7E296;
  --special-yellow-dark: #F0C52E;

  --special-green: #91C92F;

  --status-light-red: #F6DADA;
}

/* colors end */

/* fonts start */

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  src: local("gilroylight"),  
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  src: local("gilroyextrabold"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}
       
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: local("opensans"),
      url("../fonts/opensans.woff2") format("woff2"),
      url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: local("opensanslight"),
      url("../fonts/opensanslight.woff2") format("woff2"),
      url("../fonts/opensanslight.woff") format("woff");
}

/* fonts end */

/* basic style start */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none; 
} 

ol, ul {
  list-style: none;
}

/* basic style end */

/* header start*/

.header {
  background-color: var(--special-yellow-light);
}

.header a {
  color: var(--basic-black);
}

.header-settings a:hover,
.catalog-list a:hover {
  opacity: 0.6;
}

.header-settings a:active,
.catalog-list a:active,
.log-out {
  opacity: 0.3;
}

.header-settings {
  text-align: left;
}

.search-field input {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
  border: 0;
  color: var(--grey-out-of-guide-one);
}

.catalog-list {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.catalog-menu /*вложенный список*/{
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: none;
}

/* header end*/

/* hidden start */

.contact-us {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* hidden end */

/* index start*/

.headline,
.range-list,
.about-delivery
.abilities-list h2,
.about-us h2 {
  font-family: "Gilroy";
  font-weight: 800;
}

.headline,
.abilities-list h2,
.about-us h2 { 
  font-size: 47px;
  line-height: 58px;
}

.range-list {
  font-size: 18px;
  line-height: 22px;
}

.about-delivery {
  font-size: 16px;
  line-height: 28px;
}

.slider table {
  text-align: left;
  font-family: "Gilroy";
  font-weight: 300;
  letter-spacing: 0.1em;
}

.slider td {
  font-size: 36px;
  line-height: 42px;
}

.slider th {
  font-size: 13px;
  line-height: 15px;
}

.button {
  display: inline-block;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  color: var(--basic-black);
  background-color: var(--special-yellow-dark);
}

.button-abilities:active {
  color: var(--special-yellow-light);
  background-color: var(--basic-black);
  opacity: 1;
}

.range-list a,
.abilities-list a,
.about-us a {
  color: var(--basic-black);
}

.range-list a:active,
.button:active {
  opacity: 0.3;
}

.abilities {
  background-color: var(--basic-grey-light);
}

.abilities-list h2,
.about-us h2 {
  letter-spacing: 0.2em;
}

.abilities-description {
  line-height: 28px;
  letter-spacing: 0.1em;
}

/* index end */

/* Catalog start */

.main-catalog h1,
.catalog-products,
.fieldset legend {
  font-family: "Gilroy";
  font-weight: 800;
}

.main-catalog h1 {
  font-size: 47px;
  line-height: 58px;
}

.sorting-line-menu h2,
.filter-sorting-line h2,
.pagination {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.breadcrumbs-menu a,
.sorting-line-menu a,
.fieldset p {
  font-size: 14px;
  line-height: 19px;
}

.catalog-products a,
.pagination a {
  color: var(--basic-black);
}

.breadcrumbs-menu a:active {
  opacity: 0.1;
}

.breadcrumbs-menu a,
.sorting-line-menu a,
.lists a,
.turn-lists:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-menu a:hover,
.sorting-line-menu a:hover,
.lists a:hover {
  opacity: 0.6;
}

.sorting-line-menu a:active,
.lists a:active,
a.visited {
  opacity: 1;
}

.filter-menu,
.sorting-line-menu,
.turn-lists:hover,
.turn-lists:active {
  background-color: var(--basic-grey-light);
}

.filter-sorting-line {
  background-color: var(--special-grey-lighten);
}

.filter-menu fieldset {
  border: 0;
}

.fieldset legend {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.catalog-products {
  letter-spacing: 0.05em;
}

.catalog-products h3 {
  font-size: 18px;
  line-height: 22px;
}

.products-price {
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.pagination {
  background-color: var(--special-grey-lightest);
}

/* catalog end */

/* footer start */

.footer {
  color: var(--basic-white);
  background-color: var(--basic-dark)
}

.footer-list a {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer a:hover,
.footer-list a:hover {
  opacity: 0.6;
}

.footer a:active,
.footer-list a:active
.footer-menu {
  opacity: 0.3;
}

.footer-menu a,
.tel a,
.footer address,
.socialmedia-logo  {
  color: var(--basic-white);
  opacity: 0.7;
}

.footer-menu a:hover {
  opacity: 1;
}

/* footer end */